
.advantages {

}
.advantages__list {
  background-color: $gray;
}
.advantages__text {
  font-family: "OpenSansLight";
  font-size: 24px;
}
.advantages__list {
  @include list;
}
.advantages__item-title {
  font-family: "OpenSansBold";
  font-size: 18px;
  color: $black;
}
.advantages__item-text {
  font-family: "OpenSansRegular";
  font-size: 14px;
}
