.contacts-table__name {
  font-family: "OpenSansBold";
  font-size: 18px;
}
.contacts-table__value {
  font-family: "OpenSansLight";
  font-size: 24px;
  color: $pink;
}
.contacts-table {
  text-align: center;
}

@media ($tablet-width) {
  .contacts-table {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts-table__column {
    min-width: 300px;
  }
  .contacts-table__column:last-child {
    padding-left: 100px;
    min-width: 212px;
  }
}

@media ($desktop-width) {
  .contacts-table {
    flex-wrap: nowrap;
  }
  .contacts-table__column:first-child {
    order: 0;
  }
  .contacts-table__column:nth-child(2) {
    order: 2;
  }
}
