.copyright {
  text-align: center;
}
.copyright__title {
  @include link;
}
.copyright__title-text {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: $gray-text;
}

@media ($desktop-width) {
  .copyright__title-text {
    font-size: 18px;
  }
}
