.form-info__label {
  font-family: "OpenSansRegular";
  color: $pink;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding-left: 20px;
}
.form-info__input-field {
  font-size: 18px;
  opacity: 1;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px;
  color: #e5e5e5;
  border: none;
  outline: none;

  &:hover {
    color: $dark-blue;
  }

  &:active {
    color: $pink;
  }
}

@media ($tablet-width) {
  .form-info__label {
    display: inline-block;
    padding-left: 0;
    padding-bottom: 56px;
  }
  .form-info__input-field {
    width: 524px;
  }
}
