.form-info__label {
  font-family: "OpenSansRegular";
  color: $pink;
  font-size: 14px;
  text-transform: uppercase;
}
.form-info__input-field {
  font-size: 18px;
  color: $gray-text;
  opacity: 1;
}
