.page-header {

}
.page-header__logo {
  display: block;
}
.page-header__container {
  background-color: $dark-blue;
  opacity: 0.6;
  min-height: 68px;
}

@media ($desktop-width) {
  .page-header {
    display: flex;
    justify-content: center;
    background-color: $dark-blue;
    opacity: 0.6;
  }
  .page-header__logo {
    width: 260px;
  }
}
